body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    background: white ;
    font-family: 'poppins',sans-serif;
    line-height: 0.5rem;

}

.slider {
    width: 1500px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 2rem;
    
}

.titlebtn {
    display: flex;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1500px;
    height: 600px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 550px;
    margin-left: 300px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 400px;
}

.navigation-auto div{
    display: none;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC ;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC ;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC ;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC ;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
    position:absolute;
    padding-left: 250px;
    
}
nav{
	flex: 1;
	text-align: right;

}
nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: white;
    font-weight: bold;
}
.icon{
	color: white;
    font-weight: bold;
    font-size: 2rem;
}

.text{
    position: absolute;
    padding-left: 300px;
    padding-top: 200px;
    color: white;
    text-align: left;
}

.textheader{
    font-size: 2rem;
    font-weight: bolder;
}

.btn {
	display: inline-block;
	background: #ee10bece;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
    
	
	transition : background 0.5s;
}
.btn:hover {
	background : #ddcf0a;
    border-color: rgb(223, 220, 22);
}

.div2head{

    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 500px;
}

.part2{
   margin-right: 170px;
    line-height: 1.2rem;
   
    /* margin-left: 50px; */
}

.row-sec2{
    margin: 0 -5px;
    padding-top: 50px;
    margin-left: 220px;
    text-align: center;
  }
  .column-sec2 {
    float: left; 
    width: 50%;
    /* padding: 10px; */
    height:180px;
    margin-bottom: 100px;
    /* margin-left:px; */
    word-wrap: break-word;
  }
  .column-sec2 img{
    display: block;

  width: 50%;
  margin-top: -15px;
  /* max-width: 100%; */
  margin-left: 50px;
  height: auto;
  }
  .column-sec2 p{
    padding-left: 50px;
    color:gray;
    word-wrap: break-word;
    text-align: justify;
    margin-left: 100px;
  text-justify: inter-word;
  }
  .row-sec2:after {
    content: "";
    display: table;
    clear: both;
  }

  .opt{
      padding:0 10%;
      display: flex;
      justify-content: center;
      margin-left: 200px;
      text-align: center;
  }

  .col{
      margin-right: 30px;
      justify-content: center;
  }

  .fa{
      background: #8a0578;
      padding: 20px;
      font-size: 1rem;
      size: 1rem;
      border-radius: 50px;
      color: white;

      
  }

  .info{
      width: 60%;
      text-align: center;
      padding: 0;
      margin-left: 50px;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  
  display: inline-flex;
  width: 180px;
  height: 55px;
  /* margin: 0 15px; */
  perspective: 1000px;
  
}
span a{
  font-size: 10px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Learn More";
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(190, 12, 167);
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: rgb(192, 7, 183);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: black;
  background: #e4cd04fa;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.part2btn{
    margin-left: 60px;
}

hr {
    width: 60%;
    position: relative;
    top: 20px;
    border: none;
    height: 6px;
    background: rgba(160, 154, 154, 0.733);
    margin-bottom: 50px;
    margin-left: 300px;
}

.heading {
    text-align: center;
    color: black;
    font-weight: bold;
}

.cards{
    display: flex;
    background: rgb(161, 153, 153);
    line-height: 1.5rem;
    
}

.projcard img {
    height: 500px;
    width: 340px;
}

.projcard:hover{
    background: rgb(219, 207, 31);
}

.projcard span{
    padding-left: 20px;
}

.projcard h3{
    padding-left: 20px;
}
.projcard p{
    padding-left: 20px;
}

.pricing{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

.pricing-table{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 100px ;
}

.price{
    padding-right: 10px;
    padding-left: 5%;
    
}

.pricebtn{
    height: 40px;
    width: 120px;
    background: rgb(176, 18, 207);
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    transition: 2s;
}

.pricebtn:hover{
    background: #c4d61c;
}

#div1{
    border-right:6px solid gray;
    padding-right: 50px;
}

.videoProjects{
    text-align: center;
    color: white;
    background: rgb(121, 39, 153);
    

}

.videos{
    display: flex;
    overflow: hidden;
}

.video{
    padding: 20px;
}
.videoProjects h1{
    padding-top: 60px;
}

.team{
    text-align: center;
    padding-bottom: 60px;
}

.teamMembers{
    display: flex;
    justify-content: center;

}

.teamMembers img{
    width: 150px;
    height: 150px;
    border-radius: 100px ;
}

.team1{
    padding: 50px;
    text-align: center;
}

.team1 .social {
    position: absolute;
   
}

.team1 .social .middle img{
    background: gray;
    padding: 0%;
    opacity: 0;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 70px;
    padding: 25%;
    width: 50px;
    height: 50px;
    transition: 1s;

}

.team1 .social .middle img:hover {
    opacity: 0.8;
    
}

.zippylife{
    background: #f3f0f3e1;
    text-align: center;
    padding: 50px;
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}


.small-img-row {
	display: flex;
	justify-content: space-between;
   
}

.small-img-col{
	flex-basis:24%;
	cursor: pointer;
    padding: 0 10px;
   
    
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 10px 0;
    height: 70%;
}


.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.fa-arrow-right{
    margin-top: 10px;
    
    padding: 50% 20%;
}

.fa-arrow-left{
    margin-top: 10px;
    padding: 50% 20%;

}

.newsletter img{
    width: 1400px;
    height: 300px;
}

.search {
    position: absolute;
    display: flex;
    border: none;
    margin : 120px 510px;
}

.search input {
    height: 25px;
    width: 250px;
    border:5px solid;
  border-image:linear-gradient(45deg,red,blue) 10;
  
}

.search input:hover{
    background-color: rgb(240, 158, 240);
}

.search button{
    width: 100px;
    font-weight: bold;
    transition: 1s;
    border:none;
}

.search button:hover{
    background-color: rgba(255, 255, 0, 0.678);
}

.signup{
    margin-top : 40px;
    margin-bottom: 40px;
    margin-left: 550px; 
    position: absolute;
    color: rgb(221, 224, 216);
}

.blog-title{
    text-align: center;
    padding-top: 100px;
}

.blogging{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;

}

.blog{
    padding: 5% 2%;
    text-align: center;
}

.blog img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.end{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    background: rgb(233, 230, 58);

}

.end img{
    height: 500px;
    width: 500px;
}

.entry{
    padding-left: 20px;
}

.contactform{
    padding-top: 10px;
    font-size: 10px;
}

.entry .others{
    height: 20px;
    width: 250px ;
}

.message{
    height: 100px;
    width: 250px;
}

.pageend{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    background-color: black;
    color: white;
}

.contacts{
    padding-left: 20px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.media{
    text-align: center;
    background-color: black;
    padding:5%;
}

.icon{
    padding-right: 5px;
   
}

.logo{
    width: 50%;
    margin-left: 50px;

}

.logoend{
    border-right: 3px solid rgb(224, 98, 14);
}

.send{
    
    font-size: 1rem;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 130px;
    outline: none;
    background: rgb(214, 31, 214);
    transition: 1s;
}

.send:hover{
    width: 260px;
    border-radius: 20px;
}